Django==5.0.6
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-environ==0.11.2
psycopg2-binary==2.9.9
pypdf==4.2.0
requests==2.32.3
pytest==8.2.0
pytest-django==4.8.0
gunicorn==22.0.0
pywebpush==2.0.0
apscheduler==3.10.4
